* {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: white;
  height: 50px;
  background-color: #c3aed6;
  max-width: 100%;
}

[class^="con"] {
  background-color: white;
  max-width: 100%;
}
[class^="row"] {
  min-height: 300px;
  padding: 5px;
}

[class^="col"] {
  padding: 5px;
  background-color: #ffd5cd;
  text-align: center;
  color: #8675a9;
  border: 4px solid #c3aed6;
  min-height: 150px;
}
